// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
    padding-top: 50px;
}
.blog-image{
  width:70%;
}
.download-image svg{
  width: 40% !important;
  max-width: 100%;
}
